<h1 mat-dialog-title>
  <app-i18n key="entities.business.new.title"></app-i18n>
</h1>
<mat-dialog-content>
  <app-business-form
    [saveLoading]="saveLoading"
    (save)="doCreate($event)"
    (cancel)="doCancel()"
    [modal]="true"
  ></app-business-form>
</mat-dialog-content>
