<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.contactPerson.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.contactPerson.name"
      [required]="fields.contactPerson.required"
    appAutofocus
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.contactPerson.name)"
        [label]="fields.contactPerson.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.email.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.email.name"
      [required]="fields.email.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.email.name)"
        [label]="fields.email.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.mobileNumber.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.mobileNumber.name"
      [required]="fields.mobileNumber.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.mobileNumber.name)"
        [label]="fields.mobileNumber.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.landlineNumber.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.landlineNumber.name"
      [required]="fields.landlineNumber.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.landlineNumber.name)"
        [label]="fields.landlineNumber.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.password.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.password.name"
      [required]="fields.password.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.password.name)"
        [label]="fields.password.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
