<div class="filter">
  <app-filter-preview
    [values]="form.value"
    [fields]="fields"
    [expanded]="expanded"
    (click)="doToggleExpanded()"
    (remove)="doRemove($event)"
  ></app-filter-preview>
  <form
    (ngSubmit)="doFilter()"
    [formGroup]="form"
    #ngForm="ngForm"
    *ngIf="form && expanded"
  >
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.suffix.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.suffix.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.suffix.name)"
              [label]="fields.suffix.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.firstName.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.firstName.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.firstName.name)"
              [label]="fields.firstName.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.middleName.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.middleName.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.middleName.name)"
              [label]="fields.middleName.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.lastName.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.lastName.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.lastName.name)"
              [label]="fields.lastName.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.planToVaccinate.label }}</mat-label>
          <mat-select
            [formControlName]="fields.planToVaccinate.name"
          >
            <mat-option>--</mat-option>
            <mat-option [value]="true">
              {{ fields.planToVaccinate.yesLabel }}
            </mat-option>
            <mat-option [value]="false">
              {{ fields.planToVaccinate.noLabel }}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-validations
              [control]="form.get(fields.planToVaccinate.name)"
              [label]="fields.planToVaccinate.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.birthDate.label }}</mat-label>
          <app-date-range-input
            [formControl]="
              form.get(fields.birthDateRange.name)
            "
          ></app-date-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.birthDateRange.name)"
              [label]="fields.birthDateRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.region.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.region.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.region.name)"
              [label]="fields.region.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.city.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.city.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.city.name)"
              [label]="fields.city.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.barangay.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.barangay.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.barangay.name)"
              [label]="fields.barangay.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.email.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.email.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.email.name)"
              [label]="fields.email.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.mobileNumber.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.mobileNumber.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.mobileNumber.name)"
              [label]="fields.mobileNumber.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.landline.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.landline.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.landline.name)"
              [label]="fields.landline.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.username.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.username.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.username.name)"
              [label]="fields.username.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.password.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.password.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.password.name)"
              [label]="fields.password.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="filter-buttons">
      <button
        mat-raised-button
        [disabled]="loading"
        color="primary"
        type="submit"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-search"
        ></mat-icon
        >&#160;
        <app-i18n key="common.search"></app-i18n>
      </button>
      <button
        mat-flat-button
        [disabled]="loading"
        (click)="doReset()"
        type="button"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-undo"
        ></mat-icon
        >&#160;
        <app-i18n key="common.reset"></app-i18n>
      </button>
    </div>
  </form>
</div>
