<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.suffix.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.suffix.name"
      [required]="fields.suffix.required"
    appAutofocus
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.suffix.name)"
        [label]="fields.suffix.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.firstName.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.firstName.name"
      [required]="fields.firstName.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.firstName.name)"
        [label]="fields.firstName.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.middleName.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.middleName.name"
      [required]="fields.middleName.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.middleName.name)"
        [label]="fields.middleName.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.lastName.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.lastName.name"
      [required]="fields.lastName.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.lastName.name)"
        [label]="fields.lastName.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <div class="app-form-field app-form-field__boolean">
    <mat-slide-toggle
      color="accent"
      [formControlName]="fields.planToVaccinate.name"
    >
      {{ fields.planToVaccinate.label }}
    </mat-slide-toggle>

    <div class="app-form-error">
      <app-validations
        [control]="form.get(fields.planToVaccinate.name)"
        [label]="fields.planToVaccinate.label"
        [ngForm]="ngForm"
      ></app-validations>
    </div>
  </div>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.birthDate.label }}</mat-label>
    <input
      matInput
      type="date"
      [formControlName]="fields.birthDate.name"
      [required]="fields.birthDate.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.birthDate.name)"
        [label]="fields.birthDate.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.region.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.region.name"
      [required]="fields.region.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.region.name)"
        [label]="fields.region.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.city.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.city.name"
      [required]="fields.city.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.city.name)"
        [label]="fields.city.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.barangay.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.barangay.name"
      [required]="fields.barangay.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.barangay.name)"
        [label]="fields.barangay.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.email.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.email.name"
      [required]="fields.email.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.email.name)"
        [label]="fields.email.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.mobileNumber.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.mobileNumber.name"
      [required]="fields.mobileNumber.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.mobileNumber.name)"
        [label]="fields.mobileNumber.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.landline.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.landline.name"
      [required]="fields.landline.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.landline.name)"
        [label]="fields.landline.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.username.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.username.name"
      [required]="fields.username.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.username.name)"
        [label]="fields.username.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.password.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.password.name"
      [required]="fields.password.required"
    />

    <mat-error>
      <app-validations
        [control]="form.get(fields.password.name)"
        [label]="fields.password.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
