<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n
      *ngIf="isEditing"
      key="entities.resident.edit.title"
    ></app-i18n>

    <app-i18n
      *ngIf="!isEditing"
      key="entities.resident.new.title"
    ></app-i18n>
  </h1>

  <div *ngIf="initLoading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <app-resident-form
    *ngIf="!initLoading"
    [saveLoading]="saveLoading"
    [record]="record"
    [isEditing]="isEditing"
    (save)="doSave($event)"
    (cancel)="doCancel()"
    [modal]="false"
  ></app-resident-form>
</div>
