<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.business.list.title"></app-i18n>
  </h1>

  <app-business-list-toolbar></app-business-list-toolbar>
  <app-business-list-filter></app-business-list-filter>
  <app-business-list-table></app-business-list-table>
</div>
