<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.resident.view.title"></app-i18n>
  </h1>

  <app-resident-view-toolbar></app-resident-view-toolbar>

  <div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <app-view-item-text
      [label]="fields.suffix.label"
      [value]="presenter(record, 'suffix')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.firstName.label"
      [value]="presenter(record, 'firstName')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.middleName.label"
      [value]="presenter(record, 'middleName')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.lastName.label"
      [value]="presenter(record, 'lastName')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.planToVaccinate.label"
      [value]="presenter(record, 'planToVaccinate')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.birthDate.label"
      [value]="presenter(record, 'birthDate')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.region.label"
      [value]="presenter(record, 'region')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.city.label"
      [value]="presenter(record, 'city')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.barangay.label"
      [value]="presenter(record, 'barangay')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.email.label"
      [value]="presenter(record, 'email')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.mobileNumber.label"
      [value]="presenter(record, 'mobileNumber')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.landline.label"
      [value]="presenter(record, 'landline')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.username.label"
      [value]="presenter(record, 'username')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.password.label"
      [value]="presenter(record, 'password')"
    ></app-view-item-text>
  </div>
</div>
