<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.resident.list.title"></app-i18n>
  </h1>

  <app-resident-list-toolbar></app-resident-list-toolbar>
  <app-resident-list-filter></app-resident-list-filter>
  <app-resident-list-table></app-resident-list-table>
</div>
