<div class="filter">
  <app-filter-preview
    [values]="form.value"
    [fields]="fields"
    [expanded]="expanded"
    (click)="doToggleExpanded()"
    (remove)="doRemove($event)"
  ></app-filter-preview>
  <form
    (ngSubmit)="doFilter()"
    [formGroup]="form"
    #ngForm="ngForm"
    *ngIf="form && expanded"
  >
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.contactPerson.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.contactPerson.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.contactPerson.name)"
              [label]="fields.contactPerson.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.email.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.email.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.email.name)"
              [label]="fields.email.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.mobileNumber.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.mobileNumber.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.mobileNumber.name)"
              [label]="fields.mobileNumber.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.landlineNumber.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.landlineNumber.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.landlineNumber.name)"
              [label]="fields.landlineNumber.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.password.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.password.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.password.name)"
              [label]="fields.password.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="filter-buttons">
      <button
        mat-raised-button
        [disabled]="loading"
        color="primary"
        type="submit"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-search"
        ></mat-icon
        >&#160;
        <app-i18n key="common.search"></app-i18n>
      </button>
      <button
        mat-flat-button
        [disabled]="loading"
        (click)="doReset()"
        type="button"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-undo"
        ></mat-icon
        >&#160;
        <app-i18n key="common.reset"></app-i18n>
      </button>
    </div>
  </form>
</div>
