<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.business.view.title"></app-i18n>
  </h1>

  <app-business-view-toolbar></app-business-view-toolbar>

  <div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <app-view-item-text
      [label]="fields.contactPerson.label"
      [value]="presenter(record, 'contactPerson')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.email.label"
      [value]="presenter(record, 'email')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.mobileNumber.label"
      [value]="presenter(record, 'mobileNumber')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.landlineNumber.label"
      [value]="presenter(record, 'landlineNumber')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.password.label"
      [value]="presenter(record, 'password')"
    ></app-view-item-text>
  </div>
</div>
