<div class="app-page-toolbar">
  <button
    *ngIf="record && hasPermissionToEdit"
    [routerLink]="['/business', record.id, 'edit']"
    mat-raised-button
    color="primary"
  >
    <mat-icon
      inline
      fontSet="far"
      fontIcon="fa-edit"
    ></mat-icon
    >&#160;
    <app-i18n key="common.edit"></app-i18n>
  </button>

  <button
    *ngIf="record && hasPermissionToDestroy"
    [disabled]="destroyLoading"
    mat-raised-button
    color="primary"
    (click)="doDestroy()"
  >
    <mat-icon
      inline
      fontSet="far"
      fontIcon="fa-trash-alt"
    ></mat-icon
    >&#160;
    <app-i18n key="common.destroy"></app-i18n>
  </button>

  <button
    *ngIf="record && hasPermissionToAuditLogs"
    mat-flat-button
    [routerLink]="['/audit-log']"
    [queryParams]="{ entityId: record.id }"
  >
    <mat-icon
      inline
      fontSet="fas"
      fontIcon="fa-history"
    ></mat-icon
    >&#160;
    <app-i18n key="auditLog.menu"></app-i18n>
  </button>
</div>
