<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n
      key="entities.business.importer.title"
    ></app-i18n>
  </h1>

  <app-importer></app-importer>
</div>
